/*videos in body*/
.music{
    float:right;
    width:80%;
    background-color: white;
    border:2px;
    position: relative;
    float:right;
    justify-items: center;
    justify-content:center;
    padding: 150px;
}

span{
    font-family:"Helvetica";
    font-weight: lighter;
    font-size: 80%;
}